LIVEKIT_URL="op://API_KEY/LIVEKIT_URL/credential"
LIVEKIT_API_KEY="op://API_KEY/LIVEKIT_API_KEY/credential"
LIVEKIT_API_SECRET="op://API_KEY/LIVEKIT_API_SECRET/credential"

FISH_API_KEY="op://API_KEY/FISH_API_KEY/credential"
FISH_VOICE_ID="op://API_KEY/FISH_VOICE_ID/credential"

OPENAI_API_KEY="op://API_KEY/OPENAI_API_KEY/credential"
