LIVEKIT_URL="op://API_KEY/LIVEKIT_URL/credential"
LIVEKIT_API_KEY="op://API_KEY/LIVEKIT_API_KEY/credential"
LIVEKIT_API_SECRET="op://API_KEY/LIVEKIT_API_SECRET/credential"
REALTIME_API_URL="http://127.0.0.1:8791"
REALTIME_HOST="127.0.0.1"
REALTIME_PORT="8791"

DAILY_API_KEY="op://API_KEY/DAILY_API_KEY/credential"
FISH_API_KEY="op://API_KEY/FISH_API_KEY/credential"
FISH_VOICE_ID="op://API_KEY/FISH_VOICE_ID/credential"

OPENAI_API_KEY="op://API_KEY/OPENAI_API_KEY/credential"
XAI_API_KEY="op://API_KEY/XAI_API_KEY/credential"
BRAVE_SEARCH_API_KEY="op://API_KEY/BRAVE_SEARCH_API_KEY/credential"

STT_PROVIDER="xai"
XAI_STT_LANGUAGE="en"
XAI_STT_ENDPOINTING_MS="100"

LLM_PROVIDER="xai"
XAI_LLM_MODEL="grok-4.3"
OPENAI_LLM_MODEL="gpt-5.2"
BRAVE_SEARCH_COUNTRY="US"
BRAVE_SEARCH_LANGUAGE="en"
BRAVE_SEARCH_SAFESEARCH="moderate"

TTS_PROVIDER="fish"
FISH_TTS_MODEL="s2-pro"
FISH_TTS_LATENCY_MODE="low"
FISH_TTS_CHUNK_LENGTH="100"
FISH_TTS_STOP_FRAME_TIMEOUT_SECONDS="12"
MISO_TTS_URL="http://127.0.0.1:8799"
MISO_TTS_MODEL="/Users/o/.cache/huggingface/hub/models--MisoLabs--MisoTTS/snapshots/ef6b096cc35d3cde6aa0721013648416c14c36b2"
MISO_TTS_DEVICE="mps"
MISO_TTS_DTYPE="auto"
MISO_TTS_SPEAKER="0"
MISO_TTS_SAMPLE_RATE="24000"
MISO_TTS_MAX_AUDIO_LENGTH_MS="10000"
MISO_TTS_TIMEOUT_SECONDS="60"
MISO_TTS_TEMPERATURE="0.9"
MISO_TTS_TOPK="50"

ENDPOINTING_MIN_DELAY_SECONDS="0.15"
ENDPOINTING_MAX_DELAY_SECONDS="0.9"
PREEMPTIVE_TTS="true"
AEC_WARMUP_SECONDS="1.0"
INTERRUPTION_MODE="vad"
INTERRUPTION_MIN_DURATION_SECONDS="0.25"
RESUME_FALSE_INTERRUPTION="false"
FALSE_INTERRUPTION_TIMEOUT_SECONDS="none"

PIPECAT_API_KEY="op://API_KEY/PIPECAT_API_KEY/credential"
