LIVEKIT_URL="op://API_KEY/LIVEKIT_URL/credential"
LIVEKIT_API_KEY="op://API_KEY/LIVEKIT_API_KEY/credential"
LIVEKIT_API_SECRET="op://API_KEY/LIVEKIT_API_SECRET/credential"

FISH_API_KEY="op://API_KEY/FISH_API_KEY/credential"
FISH_VOICE_ID="op://API_KEY/FISH_VOICE_ID/credential"

OPENAI_API_KEY="op://API_KEY/OPENAI_API_KEY/credential"
XAI_API_KEY="op://API_KEY/XAI_API_KEY/credential"
BRAVE_SEARCH_API_KEY="op://API_KEY/BRAVE_SEARCH_API_KEY/credential"

STT_PROVIDER="xai"
XAI_STT_LANGUAGE="en"
XAI_STT_ENDPOINTING_MS="100"

LLM_PROVIDER="xai"
XAI_LLM_MODEL="grok-4.3"
OPENAI_LLM_MODEL="gpt-5.2"
BRAVE_SEARCH_COUNTRY="US"
BRAVE_SEARCH_LANGUAGE="en"
BRAVE_SEARCH_SAFESEARCH="moderate"

FISH_TTS_MODEL="s2-pro"
FISH_TTS_LATENCY_MODE="low"
FISH_TTS_CHUNK_LENGTH="100"

ENDPOINTING_MIN_DELAY_SECONDS="0.15"
ENDPOINTING_MAX_DELAY_SECONDS="0.9"
PREEMPTIVE_TTS="true"
AEC_WARMUP_SECONDS="1.0"
INTERRUPTION_MODE="vad"
INTERRUPTION_MIN_DURATION_SECONDS="0.25"
RESUME_FALSE_INTERRUPTION="false"
FALSE_INTERRUPTION_TIMEOUT_SECONDS="none"
